{
    "timeout": 10,
    "source": {
        "directories": [
            "RaskCodingStandard/Utils"
        ]
    },
    "bootstrap": "tests/bootstrap.php",
    "logs": {
        "text": "tests/reports/infection.log"
    },
    "mutators": {
        "@default": true
    }
}
