<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         executionOrder="random">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./RaskCodingStandard</directory>
        </include>
        <exclude>
            <directory>./RaskCodingStandard/Sniffs</directory>
        </exclude>
        <report>
            <html outputDirectory="./tests/reports/coverage" lowUpperBound="50"
                  highLowerBound="75"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="tests/reports/phpunit.junit.xml"/>
    </logging>
</phpunit>
